@import url("https://fonts.googleapis.com/css2?family=Readex+Pro:wght@160..700&family=Slabo+13px&family=Yantramanav:wght@100;300;400;500;700;900&display=swap");
*, body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Readex Pro, Verdana, "Montserrat", sans-serif;
}

main {
  background-color: #fffafa;
  width: 100%;
  height: 100%;
  min-height: 93vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: hidden;
}
main section {
  padding-top: 90px;
  width: 85%;
}
main section header {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}
main section header h2 {
  font-size: 2.7rem;
}
main section header button {
  font-size: 1.1rem;
  padding: 10px 12px;
  outline: none;
  border: none;
  background: rgb(71.24, 57.1767346939, 223.1232653061);
  color: white;
  border-radius: 5px;
  transition: all 0.25s ease;
}
main section header button:hover {
  background: #3b2cdd;
  box-shadow: 0 0 6px 0 rgba(0, 0, 0, 0.5);
  transform: scale(1.007);
}
main section .adminLinksWorkspace {
  min-height: 65vh;
  width: 100%;
  padding: 16px 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  gap: 36px;
}
main section .adminLinksWorkspace .linkList {
  width: 42%;
  min-width: 530px;
  display: flex;
  flex-direction: column;
  background: #fff;
  padding: 16px;
  border-radius: 10px;
  box-shadow: 0 0 6px 0 rgba(0, 0, 0, 0.1);
  height: auto;
}
main section .adminLinksWorkspace .linkList .linkListHeader {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
main section .adminLinksWorkspace .linkList .linkListHeader h3 {
  font-size: 1.5rem;
  margin-bottom: 4px;
}
main section .adminLinksWorkspace .linkList .linkListHeader .addLinkAdminButton {
  padding: 4px 16px;
  font-size: 1rem;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  outline: none;
  border: 1px solid #0b0b0d;
  border-radius: 5px;
  background: rgb(252.45, 252.45, 252.45);
  transition: all 0.25s ease;
}
main section .adminLinksWorkspace .linkList .linkListHeader .addLinkAdminButton:hover {
  background: rgb(242.25, 242.25, 242.25);
  scale: 1.01;
}
main section .adminLinksWorkspace .linkList .linkListHeader .addLinkAdminButton .addLinkAdminButtonIcon {
  margin-right: 6px;
}
main section .adminLinksWorkspace .linkList .linkInList {
  margin-top: 12px;
  background-color: white;
  display: flex;
  justify-content: space-between;
  width: 100%;
  flex-direction: row;
  padding: 8px;
  border-radius: 5px;
  box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.2);
}
main section .adminLinksWorkspace .linkList .linkInList .linkInfo {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 82%;
  color: black;
}
main section .adminLinksWorkspace .linkList .linkInList .linkInfo h4 {
  font-size: 1.4rem;
}
main section .adminLinksWorkspace .linkList .linkInList .linkInfo p {
  font-size: 1.1rem;
}
main section .adminLinksWorkspace .linkList .linkInList .linkActions {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 6px;
  height: 100%;
  width: 18%;
  min-width: 75px;
}
main section .adminLinksWorkspace .linkList .linkInList .linkActions button {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 30%;
  padding: 4px;
  width: 100%;
  font-size: 0.9rem;
  outline: none;
  border: none;
  border-radius: 5px;
  transition: all 0.25s ease;
}
main section .adminLinksWorkspace .linkList .linkInList .linkActions button .linkIcon {
  font-size: 1rem;
  margin-right: 4px;
}
main section .adminLinksWorkspace .linkList .linkInList .linkActions button:hover {
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.3);
  transform: scale(1.03);
}
main section .adminLinksWorkspace .linkList .linkInList .linkActions button.manageLinkOpen {
  background-color: rgb(81.125, 81.125, 95.875);
  color: white;
}
main section .adminLinksWorkspace .linkList .linkInList .linkActions button.manageLinkEdit {
  background-color: rgb(71.24, 57.1767346939, 223.1232653061);
  color: white;
}
main section .adminLinksWorkspace .linkList .linkInList .linkActions button.manageLinkDelete {
  background-color: #ff3333;
  color: white;
}
main section .adminLinksWorkspace .adminLinksWorkspaceForm {
  flex: 1;
  min-height: 65vh;
  background: #fff;
  padding: 16px;
  border-radius: 10px;
  box-shadow: 0 0 6px 0 rgba(0, 0, 0, 0.1);
}
main section .adminLinksWorkspace .adminLinksWorkspaceForm h3 {
  font-size: 1.5rem;
  margin-bottom: 24px;
}
main section .adminLinksWorkspace .adminLinksWorkspaceForm form {
  position: relative;
}
main section .adminLinksWorkspace .adminLinksWorkspaceForm form input {
  font-size: 1.2rem;
  padding: 6px;
  width: 100%;
  margin-bottom: 16px;
  margin-top: 4px;
  outline: none;
  border-radius: 5px;
  border: 1px solid rgb(18.0125, 18.0125, 21.2875);
}
main section .adminLinksWorkspace .adminLinksWorkspaceForm form .adminLinkIconInputCont {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 12px;
}
main section .adminLinksWorkspace .adminLinksWorkspaceForm form .adminLinkIconOneInput {
  display: flex;
  flex-direction: column;
  gap: 0;
  width: 50%;
}
main section .adminLinksWorkspace .adminLinksWorkspaceForm form .adminLinkIconInput {
  width: 100%;
}
main section .adminLinksWorkspace .adminLinksWorkspaceForm form .adminLinkSubmitForm {
  max-width: 250px;
  min-width: 120px;
  outline: none;
  background-color: rgb(79.4, 65.9612244898, 224.5387755102);
  color: white;
  border: none;
  transition: all 0.25s ease;
}
main section .adminLinksWorkspace .adminLinksWorkspaceForm form .adminLinkSubmitForm:hover {
  background-color: rgb(63.08, 48.392244898, 221.707755102);
}
main section .adminLinksWorkspace .adminLinksWorkspaceForm form label {
  font-size: 1.07rem;
  padding-bottom: 2px;
}

@media screen and (max-width: 1136px) {
  main section .adminLinksWorkspace {
    flex-direction: column;
  }
  main section .adminLinksWorkspace .linkList {
    width: 100%;
  }
  main section .adminLinksWorkspace .adminLinksWorkspaceForm {
    width: 100%;
  }
}
@media screen and (max-width: 768px) {
  main section {
    width: 92%;
  }
  main section header h2 {
    font-size: 2.2rem;
  }
  main section header button {
    font-size: 1rem;
  }
}
@media screen and (max-width: 580px) {
  main section .adminLinksWorkspace .linkList {
    min-width: 100%;
  }
}
@media screen and (max-width: 500px) {
  main section header {
    flex-direction: column;
    justify-content: center;
    gap: 6px;
  }
  main section .adminLinksWorkspace .linkList .linkInList .linkInfo h4 {
    font-size: 1.2rem;
  }
  main section .adminLinksWorkspace .linkList .linkInList .linkInfo p {
    font-size: 1rem;
    word-break: break-all;
  }
}
@media screen and (max-width: 360px) {
  main section header h2 {
    font-size: 1.9rem;
  }
}

/*# sourceMappingURL=Odkazy.css.map */
