@import "../../app/Globals";

.loading {
  min-height: 93vh;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2rem;
  font-weight: 600;
  flex-direction: column;
}

main {
  min-height: 93vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.unauhtorizedBtn {
  margin-top: 24px;
  display: flex;
  align-items: center;
  padding: 12px 36px;
  border: none;
  outline: none;
  color: white;
  border-radius: 5px;
  background-color: lighten($blue, 3%);
  font-size: 1.2rem;
  transition: all 0.3s ease;

  &:hover {
    background-color: darken($blue, 10%);
    scale: 1.02;
    border-radius: 7px;
  }
}