#htmlIco { color: #e34c26; }
#cssIco { color: #264de4; }
#sassIco { color: #CD6799; }
#jsIco { color: #f0db4f; }
#reactIco { color: #61DBFB; }
#nodejsIco { color: #3c873a; }
#wordpressIco { color: #00749C; }
#csharpIco { color: #9179E4; }
#unityIco { color: #959595; }
#gitIco { color: #F1502F; }
#githubIco { color: #2dba4e; }
#blenderIco { color: #EA7600; }
#psIco { color: #4FCCFE; }
#drIco { color: #ff5353; }