@import url('https://fonts.googleapis.com/css2?family=Readex+Pro:wght@160..700&family=Slabo+13px&family=Yantramanav:wght@100;300;400;500;700;900&display=swap');

// ===== VARIABLES ===== //
$bgdark: #0b0b0d;
$blue: #3B2CDD;
$gold: #FBCF23;

// ===== GLOBAL STYLY ===== //

*, body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Readex Pro, Verdana,'Montserrat', sans-serif;
}
