@import "./../../index";
@import url('https://fonts.googleapis.com/css2?family=Readex+Pro:wght@160..700&family=Slabo+13px&family=Yantramanav:wght@100;300;400;500;700;900&display=swap');


#contactLink {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  text-decoration: none;
  color: white;
  padding: 10px 15px;
  margin-top: 15px;
  border-radius: 7px;
  background-color: transparentize(lighten($bgdark, 25%), 0.5);
  box-shadow: 0 0 10px 0 rgba(0,0,0,0.4);
  transition: all 0.3s ease;

  &:hover {
    transform: scale(1.01);
    box-shadow: 0 0 15px 0 rgba(0,0,0,0.4);
  }

  h3 {
    color: white;
    font-family: Readex Pro, Verdana, sans-serif;
    font-size: 1.3rem;
    font-weight: 500;
    text-align: right;
  }

  #linkIcon {
    display: flex;
    font-size: 28px;
  }
}