@import "./../../index";
@import url('https://fonts.googleapis.com/css2?family=Readex+Pro:wght@160..700&family=Slabo+13px&family=Yantramanav:wght@100;300;400;500;700;900&display=swap');
// ===== VARIABLES ===== //
$textWhite: white;
$navBg: rgba(255, 255, 255, 0.07);

// ===== NAVIGACE ===== //

nav {
  position: fixed;
  width: 90%;
  height: 55px;
  top: 18px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 10;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 0 25px;
  border-radius: 10px;
  background: $navBg;
  backdrop-filter: blur(10px);
  box-shadow: 0px 0px 2px 0px rgba(255,255,255,0.2);

  #backToMain{
    color: $textWhite;
    font-family: Readex Pro, Verdana, sans-serif;
    font-weight: 700;
    font-size: 1.65rem;
    text-decoration: none;
    transition: color 0.25s ease-out;

    &:hover {
      color: $blue;
    }
  }

  .navLink {
    display: inline-block;
    color: $textWhite;
    font-family: Readex Pro, Verdana, sans-serif;
    font-weight: 400;
    font-size: 1rem;
    text-decoration: none;
    margin-left: 22px;
    transition: 0.25s ease-in-out;

    &:hover {
      transform: scale(1.06) rotate(-1deg);
    }
  }
}